/* TODO Break out and move to components styled components part */
.landing-page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    background: #333735;
    flex-direction: row;
    grid-template-columns: minmax(10vw, 40vw) max-content min-content;
    grid-template-rows: 3vh auto 1fr min-content auto 0.5vh;
}


.login {
    position: absolute;
    transform: rotate(90deg);
    top: 172px;
    left: -160px;
}

.login-btn {
    color: #B3413D;
    font-size: calc(6vw + 6vh + 2vmin);
    cursor: pointer;
    font-weight: 900;
    font-family: "montserrat-medium";
}


  