.input-name {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    all: unset;
    height: 50px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: 'montserrat-medium';
    font-size: 1.5em;
    color: black;
}

@keyframes hide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;

    }
    100% {
        opacity: 100;
    }
  }

