.day {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hour-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.date-number {
    font-size: 4rem;
    font-family: 'montserrat-medium';
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.date-name {
    font-family: 'montserrat-light';
}