body {
  margin: 0;
  background: #fff;
  color: #333;
  font-family: georgia, serif;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.pin-center {
  align-items: center;
  justify-content: center;
}

.cover {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover:hover {
  transform: scale(1.1, 1.1);
}

.hover:hover::after {
  opacity: 1;
}

input[type="datetime-local"] {
  width: auto;
  border-bottom: none;
}

input[type="submit"] {
  user-select: none;
  border-bottom: 1px solid white;
} 

input[type="datetime-local"]:before {
  content: attr(placeholder) !important;
  margin-right: 20px;
} 

input {
  font-family: 'montserrat-medium';
  font-size: 1em;
  height: 65px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: white;
  border: solid 1px white;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover, input:focus {
  background-color: white;
  color: black;  
}

input::placeholder {
  color: white;
}

input:hover::placeholder {
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  font-size: 1em;
  background: transparent;
  outline: none;
  color: white;
  font-family: 'montserrat-medium';
  font-size: 1em;
  border: solid 1px white;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

textarea:hover, textarea:focus {
  background-color: white;
  color: black;
}

textarea::placeholder {
  color: white;
}

textarea:hover::placeholder {
  color: black;
}

h1 {
  font-size: calc(3rem + 21vw);
  letter-spacing: -0.04em;
  display: contents;
  opacity: 0.8;
  margin-bottom: 12em;
}

h2 {
  font-size: calc(1rem + 4vw);
  letter-spacing: -0.04em;
  display: contents;
  opacity: 0.8;
  margin-bottom: 12em;
}

/*--------------------------------------
----------Responsive Components---------
--------------------------------------*/
@media only screen and (max-width: 600px) {
  .landing-page {
      height: 100vh; 
      height: calc(var(--vh, 1vh) * 100);
    }
  h1 {
      font-size: calc(1rem + 20vw);
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
      font-size: calc(1rem + 20vw);
  }  
}

/*--------------------------------------
---------------Animations---------------
--------------------------------------*/
@keyframes hide {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 50;
  }
  100% {
      opacity: 100;
  }
}

/*--------------------------------------
------------------Fonts-----------------
--------------------------------------*/
@font-face {
    font-family: 'montserrat-light';
    src: local('montserrat-light'), url(./fonts//montserrat/Montserrat-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'montserrat-medium';
    src: local('montserrat-medium'), url(./fonts//montserrat/Montserrat-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: local('montserrat-semibold'), url(./fonts//montserrat/Montserrat-SemiBold.ttf) format('opentype');
}